{% load molder_tags %}

<html>
<head>
    <title>Molder example page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Django Molder</a>
            <p class="navbar-text">example page</p>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <form class="form">
                <div class="col-md-6">
                    {% render_field form_one.char_field %}
                    {% render_field form_one.radio_field %}
                    {% render_field form_one.file_field %}
                </div>
                <div class="col-md-6">
                    {% render_field form_one.multiple_select_field help_on_top=True %}
                    {% render_field form_one.checkbox_field %}
                </div>
            </form>
        </div>
    </div>
</body>
</html>
